body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #333333;
}

header {
    /* background: linear-gradient(to right, #4a90e2, #9013fe); */
    background-color: #4a90e2;
}

h2 {
    margin-bottom: 1rem;
}

.project-card {
    transition: transform 0.2s;
}

.project-card:hover {
    transform: scale(1.05);
}

blockquote {
    border-left: 5px solid #4a90e2;
    padding-left: 1rem;
    font-style: italic;
}

.navbar {
    background-color: #d1d1d1;
    /* Secondary color for navbar */
}

.btn-primary {
    background-color: #9013fe;
    /* Accent color for buttons */
    border: none;
}

.project-card {
    border: 1px solid #e52222;
    /* Light border for project cards */
}